.cardDiv{
    width: 90%;
    height: 60px;
    background-color: #fff;
    border: 2px solid rgb(209, 209, 209);
    border-radius: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    gap: 15px;
}

.leftPanel-cardDiv , .rightPanel-cardDiv{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.rightPanel-cardDiv{
    margin-right: 8px ;
    visibility: hidden;
    gap: 20px;
}
.cardDiv:hover .rightPanel-cardDiv{
    visibility: visible;
}

.taskTitle{
    color: rgb(153, 153, 153);
    font-family: sans-serif;
    font-weight: 600;
}

.taskDoneBtn-off{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: rgb(192, 191, 191);
    border: none;
    cursor: pointer;

}

.taskDoneBtn-off:active{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #42b883;
    border: none;
    cursor: pointer;
}

.taskDoneBtn-on{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #42b883;
    border: none;
    cursor: pointer;
}


.todoCard-hoverBtn{
    border: none;
    background: none;
    cursor: pointer;
    font-size: 25px;
}
.todoCard-hoverBtn:nth-child(1){
    color: rgb(72, 72, 212);
}
.todoCard-hoverBtn:nth-child(2){
    color: red;
    font-size: 22px;
}